{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    
<table class="cuckoo-table__fullscreen" id="signature_summary-table">

    <thead>

        <tr>
            
            <th>Signature name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Severity</th>
            <th>File name</th>
          
        </tr>

    </thead>

    <tbody>

        <!-- table content -->
        {% for summary in signature_summary %}
            <tr>
                
                <td>{{ summary.name }}</td>
                <td>{{ summary.category }}</td>
                <td>{{ summary.description }}</td>
                <td>{{ summary.severity }}</td>
                <td>{{ summary.file_name }}</td>
                
            </tr>
        {% endfor %}

    </tbody>

  

</table>

{% endblock %}
